*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
  overflow-x:hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display:none;
}


.App {
  text-align: center;
}